<mat-card class="example-card" [style.backgroundColor]="'palegreen'">
  <mat-card-header>
    <mat-card-title class="title-style">Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 5px">
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix>email</mat-icon>
              <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <mat-icon matPrefix>vpn_key</mat-icon>
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button style="width: 80%;margin-left: 10%" mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
  <span class="example-align-center">OR</span>
  <mat-card-actions style="margin-bottom: 8px;">
    <button mat-raised-button (click)="socialSignIn('facebook')"
            class="loginBtn loginBtn--facebook" style="width: 80%;margin-left: 10%">
      Login with Facebook
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="socialSignIn('google')"
            class="loginBtn loginBtn--google" style="width: 80%;margin-left: 10%">
      Login with Google
    </button>
  </mat-card-actions>
  <mat-card-actions>
    <a [routerLink]="['/reset']">Forgot Password</a>
    <a [routerLink]="['/register']" style="float: right">Sign Up</a>
  </mat-card-actions>
</mat-card>
